# Compiled class file
*.class

# Agent instruction files (local only)
.github/agents/

# Docker compose env variables
*.cert
*.crt
*.key
*.pem

# Log file
*.log

*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.vagrant
.idea
out
**/node_modules
.vscode
*launch.json
*config-local*
*config_local*
**/.DS_Store
**/.vitepress/cache

/backend/uploads/
/backend/documents/
/backend/cache/
